#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
    gap: 12px;
    max-width: 2090px;
    /* background-image: url("/calculator/img/calc_image\ .png"); */
    background-color: antiquewhite;
    background-size: cover;
}

#calc {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    /* gap: 4%; */
    flex: 1;
    background-image: url(../img/calculator.png);
    background-position:top;
    background-repeat: no-repeat;
    background-size:contain;
    width: 40%;
    height: 60%;
}

.calc-button, .calc-button-operator, .calc-button-operator-equal{
   
    width: 12%;
    height: 0%;
    padding-bottom: 12%;
    /* background-color: rgb(0, 255, 255); */
    font-size: 0px;

}
body, html {
    height: 100%;
    background-color: antiquewhite;
}

#first-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
    margin-top: 30%;
    gap: 3%;
}
#second-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2%;
    gap: 3%;
}
#third-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2.5%;
    gap: 3%;
}
#fourth-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2.8%;
    gap: 3%;
}

#fifth-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 3%;
    gap: 3%;
}

#zero, #equal{
    width: 19%;

}

#display {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 22%;
    margin-top: 34%;
    width: 55%;
    max-width: 17ch;
    height: 0%;
    color: red;
    font-size: 2.5vw;
    font-family: digital-clock-font;
    direction: rtl;
    /* background-color: rgb(0, 255, 255); */
}

@font-face{
    font-family:'digital-clock-font';
    src: url('../img/digital-7.ttf');
   }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.5s; 
}